/MoneyCalculator/target/
/Calculadoras/target/
/Calculadoras/src/main/resources/security.properties
/MoneyCalculator/src/main/resources/investments.json
/MoneyCalculator/src/main/resources/income/
/MoneyCalculator/src/main/resources/dolares.json
/MoneyCalculator/src/main/resources/saving/
/MoneyCalculator/src/main/resources/plazofijo.json
/MoneyCalculator/src/main/resources/expense/
/Calculadoras/nbproject/
MoneyCalculator/.classpath
MoneyCalculator/.project
LaPlataAddressCalculator/target/
MoneyCalculator/.vscode/
MoneyCalculator/.settings/
Calculadoras/.vscode/settings.json
Calculadoras/.factorypath
/MoneyCalculator/nbproject/
Calculadoras/.settings/org.eclipse.jdt.core.prefs
