<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %date{"yyyy-MM-dd'T'HH:mm:ss,SSSXXX", UTC} %-4p [%logger{4}] : %m%n
            </pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="console" />
    </root>

</configuration>